{% extends "layout/default.html" %} {% block main_content %}
<link rel="stylesheet" href="/static/css/bootstrap-datepicker3.min.css" />
<script src="/static/js/FileSaver.js" type="text/javascript"></script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/plugins/exportFile/exportFile.min.js"></script>

<div style="height: 100%; overflow: hidden">
    <div class="table-header" style="width: 100%; height: 35px">
        <div style="display: inline-block; float: left; height: 100%">
            <div style="
          display: inline-block;
          float: left;
          text-overflow: ellipsis;
          white-space: nowrap;
        ">
                {{ web_module_data.name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日期：
            </div>
            <div style="display: inline-block; float: right">
                <input type="hidden" id="dateid_old" />
                <input type="text" value="{{ date_now }}" id="dateid" class="input-group-sm form-control date-picker" />
            </div>
        </div>
        <div style="display: inline-block; float: right; height: 100%">
            <input type="button" id="resetFilter" value="重置筛选" style="background-color: #307ecc; height: 100%" />
            <input type="button" id="saveExcel" value="保存CSV" style="background-color: #307ecc; height: 100%" />
        </div>
    </div>
    <div id="instock-data" style="width: 100%; height: calc(100% - 55px)"></div>
    <div id="statusBar" style="width: 100%; height: 20px"></div>
</div>

<script type="text/javascript">
    const nameParam = $.getUrlVar('table_name');
    let dateParam = "{{ date_now }}";
    const colInfos = {% raw web_module_data.column_names %};
    let myView;
    let hot;

    $(document).ready(function () {
        const container = document.getElementById('instock-data');
        hot = initSpread(container, colInfos, nameParam);
        const elem = document.querySelector('#instock-data');
        let prevWidth;
        new ResizeObserver(changes => {
            for (const change of changes) {
                if (change.contentRect.width === prevWidth) { return; }
                hot.render() // 使用 render() 方法重新渲染表格
            }
        }).observe(elem);

        $(".date-picker").datepicker({
            language: 'zh-CN', //设置语言
            format: "yyyy-mm-dd",
            showOtherMonths: true,
            selectOtherMonths: false,
            autoclose: true,
            todayHighlight: true,
            onSelect: function (selected, evnt) {
                console.log(selected);
            }
        }).on('changeDate', function (ev) {
            hot = initSpread(container, colInfos, nameParam);
        });
    });

    function initStatusBar(hot) {
        const statusBar = document.getElementById('statusBar');
        if (!statusBar) return;

        // 更新状态栏内容的函数
        function updateStatusBar() {
            const selected = hot.getSelected();
            if (selected) {
                const [startRow, startCol, endRow, endCol] = selected[0];
                const cellValue = hot.getDataAtCell(startRow, startCol);
                statusBar.innerHTML = `Selected Cell: (${startRow}, ${startCol}) - Value: ${cellValue}`;
            } else {
                statusBar.innerHTML = 'No cell selected';
            }
        }

        // 绑定事件
        hot.addHook('afterSelection', updateStatusBar);
        hot.addHook('afterChange', updateStatusBar);

        // 初始化状态栏内容
        updateStatusBar();
    }

    // 获取数据的函数
    function fetchData(url) {
        return fetch(url)
            .then(response => response.json())
            .then(data => {
                return data;
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }

    function initSpread(container, colInfos, nameParam) {
        const dateParam_old = document.getElementById("dateid_old").value
        dateParam = document.getElementById('dateid').value;
        if (dateParam_old === dateParam) return;
        document.getElementById("dateid_old").value = dateParam;
        const url = `/instock/api_data?name=${nameParam}&date=${dateParam}`;
        return fetchData(url).then(data => {
            const colHeaders = colInfos.map(col => col.header);
            const columns = colInfos.map(col => {
                if (col.dataField === 'date') {
                    return { data: col.dataField, visible: false };
                }
                return { data: col.dataField };
            });

            hot = new Handsontable(container, {
                licenseKey: 'non-commercial-and-evaluation',
                data: data, // 这里填充你的数据
                colHeaders: colInfos.map(col => col.caption),
                columns: colInfos.map(col => {
                    const column = { data: col.value };
                    if (col.value === 'date') {
                        column.visible = false;
                    }
                    if (col.width) {
                        column.width = col.width;
                    }
                    if (col.value === 'code') {
                        return {
                            data: col.value,
                            renderer: 'html',
                            readOnly: true,
                            renderer: function (instance, td, row, col, prop, value, cellProperties) {
                                Handsontable.renderers.TextRenderer.apply(this, arguments);
                                td.innerHTML = `<a href="/instock/data/indicators?code=${value}&date=${dateParam}&name=${nameParam}" target="_blank">${value}</a>`;
                            }
                        };
                    }
                    return { data: col.value };
                }),
                rowHeaders: true,
                filters: true,
                dropdownMenu: true,
                height: '100%',
                width: '100%'
            });

            initStatusBar(hot);
            initEvent(hot);
        });
    }

    function initEvent(hot) {
        document.getElementById('saveExcel').onclick = function () {
            const exportPlugin = hot.getPlugin('exportFile');
            exportPlugin.downloadFile('csv', {
                filename: nameParam + dateParam,
                fileExtension: 'csv',
                mimeType: 'text/csv',
                exportHiddenRows: true,
                exportHiddenColumns: true,
                columnHeaders: true,
                rowHeaders: true
            });
        };

        document.getElementById("resetFilter").onclick = function () {
            const statusBar = document.getElementById('statusBar');
            if (!statusBar) return;
            hot.getPlugin('filters').clearConditions();
            hot.getPlugin('filters').filter();
            if (statusBar) {
                let recordItem = statusBar.get("recordCountItem");
                if (recordItem) {
                    recordItem.visibleLength = recordItem.dataSourceLength;
                    recordItem.onUpdate();
                }
            }
        };
    }

    Date.prototype.format = function (format) {
        let o = {
            "y": "" + this.getFullYear(),
            "M": "" + (this.getMonth() + 1),  //month
            "d": "" + this.getDate(),         //day
            "h": "" + this.getHours(),        //hour
        }
        return Object.keys(o).reduce((pre, k) => (new RegExp("(" + k + "+)").test(pre)) ? (pre.replace(RegExp.$1, RegExp.$1.length === 1 ? o[k] : o[k].padStart(2, "0"))) : pre, format);
    }
</script>
{% end %}